{% extends 'base.html.twig' %}

{% block title %}TierList{% endblock %}

{% block body %}
    <div {{ react_component('Party', { confettis: 1000 }) }}></div>
    <h1>TierList</h1>
    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ tier_list.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tier_list.description }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ tier_list.createdAt ? tier_list.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ranks</th>
                <td>
                    {% for tierListRank in tier_list.tierListRanks %}
                        <li>
                            <span>{{ tierListRank.name }}</span>
                            <div>
                                My items are
                                {% if tierListRank.tierListItems|length > 1 %}
                                    <span {{ stimulus_controller('symfony/ux-typed', {
                                        strings: tierListRank.tierListItems|map(item => item.name),
                                        smartBackspace: true,
                                        typeSpeed: 75,
                                        startDelay: 100,
                                        backSpeed: 20,
                                        backDelay: 500,
                                        loop: true,
                                        showCursor: true,
                                        cursorChar: ''
                                    }) }}></span>
                                {% else %}
                                    {{ tierListRank.tierListItems|length > 0 ? (tierListRank.tierListItems|first).name : 'none...' }}
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_tier_list_index') }}">Back to list</a>
    <a href="{{ path('app_tier_list_edit', {'id': tier_list.id}) }}">Edit</a>
    {{ include('tier_list/_delete_form.html.twig') }}
{% endblock %}
