{% extends 'base.html.twig' %}

{% block title %}TierList{% endblock %}

{% block body %}
    <h1>TierList</h1>
    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ tier_list.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tier_list.description }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ tier_list.createdAt ? tier_list.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_tier_list_index') }}">Back to list</a>
    <a href="{{ path('app_tier_list_edit', {'id': tier_list.id}) }}">Edit</a>
    {{ include('tier_list/_delete_form.html.twig') }}
{% endblock %}
